.movie-item {
    width: 454px;
    height: 281px;
    display: flex;
    overflow-y: hidden;
    margin-top: 32px;
    box-shadow: 3px 5px 20px -10px black;
}

.movie-item__poster {
    width: 183px;
    height: 281px;
}

.movie-item__poster img{
    width: 100%;
    height: 100%;
}

.movie-item__info {
    padding: 12px 0px 20px 20px;
    text-align: left;
    width: 271px;
    position: relative;
}

.movie-item__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 10px;
}

.movie-item__header h5 {
    font-size: 20px;
    line-height: 28px;
    max-width: 200px;
    margin-bottom: 5px;
}

.vote-circle {
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;

}

.vote-circle.red {
    border: 2px solid #E90000;
}

.vote-circle.orange {
    border: 2px solid #E97E00;
}

.vote-circle.yellow {
    border: 2px solid #E9D100;
}

.vote-circle.green {
    border: 2px solid #66E900;
}

.movie-item__release-date {
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
    margin-bottom: 6px;
}

.movie-item__genres {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-item__genres li{
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 4px;
    padding: 0 4px;
}

.movie-item__overview {
    font-size: 12px;
    line-height: 22px;
    padding-right: 20px;
    margin-top: 2px;
    margin-bottom: auto;
}

ul.ant-rate {
    position: absolute;
    bottom: 20px;
}

li.ant-rate-star:not(:last-child) {
    margin-right: 3px;
}