.main {
    max-width: 1010px;
    min-width: 420px;
    padding: 34px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media(max-width: 767px) {
    .main {
        padding: 34px 16px;
    }
}

@media(min-width: 767px) {
    .main {
        min-width: 522px;
    }
}

@media(min-width: 1023px) {
    .main {
        width:1010px
    }
}
