.tabs {
    padding-bottom: 10px;
    margin-bottom: 12px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.09);
    align-self: center;
    flex-shrink: 1;
}

.tabs button {
    background-color: inherit;
    border: none;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    color: rgba(0, 0, 0, 0.65)
}

.tabs button.selected{
    color: #1890FF;
}

.tabs button.selected:after{
    content: '';
    height: 2px;
    width: 100%;
    background: #1890FF;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.tabs button:hover {
    cursor: pointer;
}